:root {
  --branding-color: #426c1f;
  --heading-font-family: "Newsreader", serif;
  --secondardy-font-family: "Varela", serif;
}
.navbar {
  font-family: var(--heading-font-family);
}
.nav-link {
  color: var(--branding-color);
}
.navbar-brand {
  color: var(--branding-color);
}

h1 {
  font-family: var(--heading-font-family);
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 55px;
}

p {
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-style: normal;
  line-height: 2;
}
.hero {
  text-align: center;
  padding: 100px 30px 100px;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-size: 32px;
  color: #426c1f;
  line-height: 25px;
  line-height: 0.5px;
}
.btn-branding {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-size: 20px;
  padding: 15px 30px;
}
.btn-branding-more {
  text-align: center;
}

.descriptions {
  margin-left: 8;
  text-align: center;
}
.fa-brands {
  color: var(--branding-color);
}
.about-title {
  font-size: 50px;
}
.about-container h1 {
  font-size: 55px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 35px;
    margin-bottom: 2px;
  }
  .hero h2 {
    font-size: 18px;
    text-align: center;
  }

  .btn-branding-more {
    padding: 10px 25px;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}
